#gameboard{
    height: 320px;
    width: 320px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
      
    
}
.square{
    height: 40px;
    width:40px;
   position: relative;
}
.square svg{
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -9;

}
path{
    position: relative;
    z-index: -10;
}
.piece{
    position: relative;
    z-index: 9;

}
/* .piece svg {
    fill: inherit; */

.beige{
    background-color:rgb(238,238,120);
}
.green{
    background-color: rgb(125, 186, 60)
}
.black{
    fill: black;
}
.white{
    fill: white !important;
}