#gameboard{
    height: 320px;
    width: 320px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}
.square{
    height: 40px;
    width:40px;

}
.square svg{
    height: 30px;
    width: 30px;
    margin: 5px;
}
.beige{
    background-color:rgb(110,110,98);
}
.green{
    background-color: rgb(19,136,8)
}